# ImportFiles python script enviromental vars
# If DRY_RUN is True, no changes will be made.
DRY_RUN=True

# AnythingLLM endpoint
ANYTHINGLLM_URL=http://localhost:3001
ANYTHINGLLM_API_KEY=

# CSV list of workspaces the files are to be embded in.
WORKSPACES=""

# Root folder for data uploads
FILE_PATH="data"

# Upload files/folders recusivley.
RECURSIVE=True